<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:object name="productname" /> <roundcube:label name="login" /></h1>

<div id="layout-content" class="selected no-navbar" role="main">
    <div class="preview_head">
        <div class="company_logo">
            <img alt="" class="logo_img" src="http://mail.stud.hnuu.edu.cn/cgi-bin/viewfile?type=skin&amp;domain=&amp;f=14217A43806E5DEC8C733CF5FD2A2618FB68DC6154E2E4A862F7F323BDFC4020&amp;skin_modtime=1571126680"/>
        </div>
        <p class="edit_issue">电子邮件系统（测试）</p>
    </div>


    <div class="company_main">
        <div class="company_main_wrap">
            <div class="company_loginbox">

                <ul class="js_option_header">
					<!-- <li class="nav_item">扫码登陆</li> -->
					<li class="nav_item">账号登录</li>
				</ul>
                <roundcube:object name="logo" src="/images/logo.svg" id="logo" alt="Logo" />
                

                <roundcube:form id="login-form" name="login-form" method="post" class="propform">
                <roundcube:object name="loginform" form="login-form" size="40" submit=true class="form-control" />
                    <div id="login-footer" role="contentinfo">
                        <roundcube:object name="productname" condition="config:display_product_info &gt; 0" />
                        <roundcube:object name="version" condition="config:display_product_info == 2" />
                        <roundcube:if condition="config:support_url" />
                            &nbsp;&bull;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link"><roundcube:label name="support" /></a>
                        <roundcube:endif />
                        <roundcube:container name="loginfooter" id="login-footer" />
                    </div>
                </form>
            </div>

            <div class="company_pic">
				<img src="http://mail.stud.hnuu.edu.cn/cgi-bin/viewfile?type=skin&amp;domain=&amp;f=14217A43806E5DEC8C733CF5FD2A2618FB68DC6154E2E4A83191E1119499949D&amp;skin_modtime=1571126680"/>
			</div>
            
        </div>
        
    </div>

    <div class="company_bottom">
        <div class="company_link bg_color">
            Power by <a href="https://roundcube.net/" target="_blank">Roundcube</a>
            <!-- <a href="/docs" target="_blank">使用文档</a> | -->
            <!-- <a href="https://exmail.qq.com/cgi-bin/loginpage?t=dm_loginpage&amp;dmtype=bizmail" target="_blank">管理员登录</a> -->
        </div>
        <div class="company_copyright ">
            <!-- &copy; <span>2024 Tencent Inc. All Rights Reserved</span> -->
            <a href="https://beian.miit.gov.cn/" id="beian_tag" style="display: block;color: #798698;font-size: 12px;text-align: center;text-decoration:underline;" target="_blank">浙ICP备11022180号-1</a>
        </div>
    </div>
	
</div>

<roundcube:include file="includes/footer.html" />



